<div class='row'>
	<div class='col-md-6 mx-auto'>
		<div class='alert alert-success'>Thank You! Your order is received</div>
		<div class="card border-primary mb-2 w-100 mx-auto">
			<div class="card-header">
				<h5 class="card-title">Order Details</h5>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<p class="font-italic">Order Id: {{order_id}}</p>
						<p class="font-italic">Products: {{order_products}}</p>
						<p class="font-italic">Customer Email: {{order_email}}</p>
						<p class="font-italic">Address: {{order_address}}</p>
						<p class="font-italic">Order Date: {{order_date}}</p>
						<p class="font-italic">Total: ${{order_price}}</p>
						<p class="font-italic">Discount: -${{DiscountPrice}}</p>
						<p class="font-italic">Grand Total: ${{TotalPrice}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>